/* universal classes */
.margin {
    margin: auto;
}

.pr {
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
}

/* header component */
.banner {
    width: 90%;
    height: 735px;
    background: #FFCA42;
}

.banner__ellipse {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #FFD363;
    position: absolute;
    top: 5%;
    left: 5%;
}

.banner__ellipse--sm {
    width: 30px;
    height: 30px;
    top: 13%;
    left: 16%;
}

.banner__logo {
    width: 25%;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0px 10px 0px;
    color: #1B3764;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.logo__icon {
    font-size: 50px !important;
    z-index: 3;
}

.banner__heading {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #1B3764;
}

.banner__para {
    text-align: center;
    padding: 0px 60px 0px 60px;
    font-size: 20px;
    font-weight: 400;
    color: #1B3764;
}

.images {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.images__leftImg {
    width: 51%;
    z-index: 2;
    position: absolute;
    top: 360%;
    height: 450px;
}

.images__rightImg {
    width: 61%;
    position: absolute;
    left: 38%;
    height: 500px;
}

/* body component */
.mainBody {
    width: 90%;
}

.body {
    width: 90%;
}

.body__top {
    justify-content: space-between;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
}

.profile {
    width: 400px;
    padding: 30px 10px 30px 10px;
}

.profile__header {
    width: 310px;
    justify-content: space-between;
    align-items: center;
}

.profile__logo {
    width: 100px;
    height: 100px;
    background: #0D161A;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.profile__para {
    width: 200px;
    gap: 2px;
}

.profile__para__heading {
    font-weight: 600;
    font-size: 25px;
}

.profile__paragraph {
    font-size: 20px;
    font-weight: 400;
}

.profile__body {
    width: 400px;
    gap: 1em;
    padding: 25px 0px 10px 0px;
}

.profile__bodyHeading {
    font-weight: 700;
    font-size: 25px;
}

.sites {
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.sites img {
    width: 50px;
    height: 50px;
}

.sites__content {
    align-items: flex-start;
    width: 320px;
}


.sites__head {
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
}

.sites__head--arrow {
    text-decoration: none;
}

.social__para {
    font-size: 18px;
    font-weight: 400;
    color: #646E79;
}

.info {
    width: 470px;
    justify-content: space-between;
    position: absolute;
    left: 54.7%;
}

.box__heading {
    font-weight: 700;
    font-size: 40px;
}

.info__right {
    width: 55%;
    background: black;
    border-bottom-left-radius: 20px;
    height: 530px;
}

.info__form {
    width: 400px;
    border-radius: 10px;
    height: 60%;
    background: white;
    border: 1px solid rgb(189, 187, 187);
    position: absolute;
    top: 25%;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
    align-items: center;
}

.figma,
.webflow {
    width: 400px;
    align-items: center;
    gap: 10px;
}

.figma__icon,
.webflow__icon {
    background: linear-gradient(180deg, #32323B 0%, #2C2B34 100%);
    height: 70px;
    width: 70px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.figma__heading,
.webflow__heading {
    font-weight: 500;
    font-size: 25px;
}

.figma__heading--free {
    color: #4353FF;
}

.figma__content,
.webflow__content {
    width: 300px;
    justify-content: space-between;
    gap: 5px;
}

.info__btn {
    width: 380px;
    color: white;
    background: #4353FF;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
}

.body__bottom {
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px 30px 20px;
}

.bodyImages,
.fonts {
    width: 290px;
    gap: 1em;
}

.social {
    width: 290px;
    gap: 1em;
}

.social__heading {
    align-items: center;
    gap: 1em;
}

.social__head {
    font-weight: 600;
    font-size: 20px;
}

.social__content {
    font-weight: 400;
    font-size: 16px;
    color: #646E79;
}

.social__content--span {
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
}

.fonts--width {
    width: 450px;
}

/* footer component */
.footer {
    width: 90%;
}

.footer__content {
    padding: 30px;
    color: white;
    background: #0D161A;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.footer__content--span {
    color: #FFB322;
    text-decoration: underline;
    font-weight: 600;
}

/* media queries to make template responsive */
@media (max-width:1115px) {
    .body__top {
        width: 105.5%;
        flex-wrap: wrap !important;
    }

    .profile {
        width: 100%;
        align-items: center;
    }

    .info {
        position: static;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .info__right {
        display: none;
    }

    .info__form {
        position: static;
        gap: 10px;
        padding: 30px;
    }
}

@media (max-width:890px) {

    .body__top,
    .body {
        padding-top: 30px;
    }
}

@media (max-width:710px) {
    .body__bottom {
        flex-direction: column;
    }

    .bodyImages,
    .fonts {
        width: 100%;
        align-items: center;
    }

    .images__leftImg {
        position: static;
        width: 100%;
    }

    .images__rightImg,
    .banner__ellipse {
        display: none;
    }
}

@media (max-width:650px) {

    .footer__content,
    .social__para,
    .banner__para,
    .profile__paragraph,
    .sites__head,
    .social__head,
    .social__content {
        font-size: 15px;
    }

    .social {
        gap: 0em;
    }

    .box__heading {
        font-size: 30px;
    }

    .figma__heading,
    .webflow__heading,
    .profile__para__heading {
        font-size: 20px;
    }

    .body__top,
    .body {
        padding: 0;
    }
}

@media (max-width:515px) {

    .info__form,
    .info__btn,
    .figma,
    .webflow,
    .profile__body,
    .sites,
    .profile__header {
        width: 90%;
        gap: 10px;
    }

    .images__leftImg {
        height: 400px;
    }

    .body__bottom,
    .profile {
        padding: 0;
    }

    .info__form {
        padding: 30px 2px 30px 2px;
    }

    .profile__logo {
        width: 60px;
        height: 60px;
    }

    .profile__logo img {
        height: 30px;
        width: 30px;
    }
}

@media (max-width:330px) {
    .images__leftImg {
        height: 340px;
    }

    .figma__icon,
    .webflow__icon {
        height: 50px;
        width: 50px;
    }

    .figma__icon img,
    .webflow__icon img {
        height: 25px;
        width: 20px;
    }

    .social__heading img,
    .sites img {
        height: 40px;
        width: 40px;
    }
}